
.octicon {
  margin: 0px !important;
}

.minibutton {
  margin-left: 10px;
}

#gitCommands {
  background-color        : #f8f8f8;
  border                  : 1px solid #ddd;
  border-radius           : 4px;
  border-top-left-radius  : 0px;
  border-top-right-radius : 0px;
  word-wrap               : normal;
  margin                  : auto;
  margin-top              : -1px;
  overflow                : auto;
  padding                 : 10px;
  padding-left            : 30px;
  position                : relative;
  width                   : 75%;
}

#jira-prompt input[type="text"] {
  width: 90%;
  margin: auto;
  margin-top:5px;
}