html {padding: 0; }
body {
  padding: 0; 
  margin: 0;
  min-width: 650px;
  overflow: auto;
}

.top-bar {
  border-bottom: 1px solid gray;
  height: 100px;
}

.top-bar .box {
  border-right: 1px solid gray;
  float: left;
  padding: 10px;
  width: 300px;
  height: 80px;
}

.top-bar .box:last-of-type {
  border-right: 0;
}

.top-bar .box label {
  margin-top: 5px;
  width: 100%;
  display: block;
}

#contnet {
  margin-top: 100px;
}