
/* DAILY GOAL */
#daily-goal {
  background-color : #FCE43B;
  color            : rgb(68, 68, 68);
  text-align       : center;
  margin           : 10px;
  vertical-align   : bottom;
  font-size        : 20px;
}
/* DONE */

.hide-complete .done {
  display: none;
}
.done {
  background-color : rgb(192, 192, 192) !important;
}
.done .ghx-end {
  background-color : rgb(192, 192, 192) !important;
  box-shadow       : none !important;
}

.done.ghx-end.ghx-selected-primary {
  background-color : #C9FCC7 !important; 
}

/* IN QA */

.in-qa {
  background-color : rgb(145, 209, 124) !important;
}
.in-qa .ghx-end {
  background-color : rgb(145, 209, 124) !important;
  box-shadow       : none !important;
}

/* BLOCKED */

.blocked {
  background-color : #E5D5ED !important;
}
.blocked .ghx-end {
  background-color : #E5D5ED !important;
  box-shadow       : none !important;
}

/* IN REVIEW */

.in-review {
  background-color : rgb(252, 189, 108) !important;
}
.in-review .ghx-end {
  background-color : rgb(252, 189, 108) !important;
  box-shadow       : none !important;
}

/* TICKETS */

.ghx-grabber {
  width : 10px !important;
}

./*ghx-issue-content { 
  margin-left : 45px !important;
}*/

.avatar {
  margin-left : 10px;
  width       : 30px;
  height      : 30px;
  position    : absolute;
  left        : 0;
  top         : 0;
}

.subtask {
  width: 10px;
}

/* RESIZING CONTENT */

.ghx-backlog-group {
  margin-bottom : 60px;
}


/* HIDE-COMPLETE */

#hide-complete {
  display: inline-block;
  float: right;
  margin-top: 10px;
}