
#daily-goal {
  background-color : #FCE43B;
  color            : rgb(68, 68, 68);
  text-align       : center;
  margin           : 10px;
  vertical-align   : bottom;
  font-size        : 20px;
}

.done {
  background-color: #E2E2E2 !important;
}