
/* DAILY GOAL */
#daily-goal {
  background-color : #FCE43B;
  color            : rgb(68, 68, 68);
  text-align       : center;
  margin           : 10px;
  vertical-align   : bottom;
  font-size        : 20px;
}
/* DONE */

.done {
  background-color: #E2E2E2 !important;
}
.done .ghx-end {
  background-color: #E2E2E2 !important;
  box-shadow: none !important;
}

.done.ghx-end.ghx-selected-primary {
  background-color: #C9FCC7 !important; 
}

/* BLOCKED */

.blocked {
  background-color: #E5D5ED !important;
}
.blocked .ghx-end {
  background-color: #E5D5ED !important;
  box-shadow: none !important;
}

/* RESIZING CONTENT */

.ghx-backlog-group {
  margin-bottom: 60px;
}
